# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sensitive data
mongo_atlas_password.txt
archive/mongo/mongo_password.txt

# Database
*.db
*.sqlite3

# Archive folder
/archive/
