# Project specific
archive/
temp_data/
*.csv
*.pkl
*.h5
*.pt
*.pth
*.log
.ipynb_checkpoints/
*.ipynb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.vscode/settings.json

# NeuralProphet
lightning_logs/

# Environment variables
.env